/*--------head------------*/
.head {
  padding: 20px 0;
  color: #fff;
}
.logo h1 {
  font-size: 35px;
  font-weight: 900;
}
.head .icon {
  margin-left: 10px;
}
.button{
  font-weight: 600;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 30px;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px; 
  height: 45px;
  padding: 12px;
border-radius: 10px;  

}
header ul {
  padding: 40px 20px;
}
header ul li a {  /* Styles for desktop/large screens */
  color: #fff;
  font-weight: 500;
  transition: 0.2s;
}
header ul li a:hover{
  color: #1687d9;
}

#list1{
  background-color: #1687d9;
}
#list1:focus{
  border: none;

}
#list1:hover{
  
  background-color: white;
}


.start {
  background-color: #1687d9;
  padding: 30px 70px;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}
#welcometext{
font-size: 20px;
margin-top: -30px;
}

/*--------header------------*/
@media screen and (max-width: 768px) {  /* Styles for mobile/smaller screens */
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #1687d9;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  header ul li a { /* Specific mobile list item styles */
    display: block; /* Make the link fill the list item width */
    background-color: #1687d9;
    color: white;
    padding: 10px 15px; /* Add padding for better look */
    border-radius: 5px; /* Optional: Add rounded corners */
    transition: 0.3s; /* Smoother transitions */
  }
  header ul li a:hover {
    background-color: white;
    color: #1687d9;
  }

  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1687d9;
  }
}
